@import '@hi-ui/core-css/lib/index.scss';

.theme-nav-bar {
  height: 42px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.theme-nav-bar__content {
  height: 42px;
  display: flex;
  align-items: center;
  flex: 1;
  overflow-x: auto;

  // 自定义 scrollbar 样式，避免 window bar 过宽下难以点击 tag 操作
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border-radius: 999px;
  }

  &::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-clip: content-box;
    box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &_tag {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d8dce5;
    color: #1f2733;
    background: #fff;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 6px;
    flex-shrink: 0;

    &:hover:not(.theme-nav-bar__content_tag--active) {
      color: use-color-mode('primary');
      border-color: use-color-mode('primary');

      .theme-nav-bar__content_icon {
        path {
          fill: use-color-mode('primary');
        }
      }
    }

    &--active {
      color: #fff;
      background-color: use-color-mode('primary', 600);
      border-color: transparent;

      .theme-nav-bar__content_icon {
        path {
          fill: rgb(250, 240, 240);
        }

        &:hover {
          path {
            fill: #fff;
          }
        }
      }
    }
  }

  &_icon {
    margin-left: 4px;
    font-size: 16px;
    border-radius: 100%;
    text-align: center;
    padding-top: 1px;

    &:hover {
      path {
        fill: #666;
      }
    }
  }
}
