.menus {
  position: fixed;
  top: 200px;
  right: 0;
  background: #fff;
  color: #fff;
  cursor: pointer;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.175);
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &:hover {
    right: 0;
  }
}
