@import '@hi-ui/core-css/index.scss';

.breadcrumb {
  margin-bottom: 16px;

  &__sep {
    margin: 0 5px;
  }

  &__item {
    font-size: $font-size-small;

    a {
      color: get-color($palette-hiui, '50');

      &:hover,
      &:active {
        color: get-color($palette-hiui, '60');
      }
    }

    span {
      color: get-color($palette-hiui, 'g80');
    }
  }
}
