@import '@hi-ui/core-css/lib/i18n/zh-CN.scss';
@import '@hi-ui/core-css/base.scss';

$config-sidebar-colors: (
  'black': get-color($palette-hiui, 'g100'),
  'gray': $gray-lighter,
  'white': $white
) !default;

// 设置颜色
@mixin config-sidebar-style($color, $name) {
  .logo {
    a,
    a:hover {
      color: if($name == 'black', $white, get-color($palette-hiui, 'g100'));
    }
  }

  .sidebar {
    background-color: $color;
    box-shadow: if($name == 'white', inset 1px 0 0 0 #d8d8d8, none);
    color: if($name == 'black', $white, get-color($palette-hiui, 'g100'));

    &__wrapper {
      &::before,
      &::after {
        display: none;
      }
    }

    &__wrapper:not(.sidebar__wrapper--submenu) {
      .sidebar__item {
        &::before {
          background-color: if($name == 'black', transparent, get-color($palette-hiui, '50'));
        }

        // Status: active
        &:not(&--noaction):hover,
        &:not(&--noaction):active,
        &--active {
          background-color: if($name == 'black', rgba(0, 0, 0, 0.15), rgba(get-color($palette-hiui, '50'), 0.08));
          color: get-color($palette-hiui, '50');
        }
      }
    }

    &__wrapper--submenu {
      color: get-color($palette-hiui, 'g100');

      .sidebar__item {
        &::before {
          background-color: get-color($palette-hiui, '50');
        }

        // Status: active
        &:not(&--noaction):hover,
        &:not(&--noaction):active,
        &--active {
          background-color: rgba(get-color($palette-hiui, '50'), 0.08);
          color: get-color($palette-hiui, '50');
        }
      }
    }

    &__toggle {
      color: map-get(get-palette($color), 'g100');
    }
  }
}

// 设置布局
.layout--genuine {
  .layout {
    &__header {
      z-index: 10;
      padding-left: 216px;
    }

    &__body--noheader {
      padding-top: 0;
    }

    &__sidebar {
      z-index: 11;
    }
  }

  &.layout--collapsed {
    .layout {
      &__header {
        padding-left: 48px;
      }
    }
  }

  .header {
    background-color: $white;
    border-color: $gray;

    a {
      color: get-color($palette-hiui, 'g100');

      &:hover,
      &:active,
      &.header__nav-link--active {
        color: get-color($palette-hiui, '50');
      }
    }
  }

  .sidebar {
    &,
    &__wrapper--submenu {
      padding-top: 0;
    }
  }

  // Set colors
  @each $name, $color in $config-sidebar-colors {
    &.layout--#{$name} {
      @include config-sidebar-style($color, $name);
    }
  }
}
