@import '@hi-ui/core-css/lib/i18n/zh-CN.scss';
@import '@hi-ui/core-css/base.scss';

$config-sidebar-colors: (
  'blue': get-color($palette-hiui, '50'),
  'black': get-color($palette-hiui, 'g100'),
  'white': $white
) !default;

// 设置布局
.layout--genuine {
  .layout {
    &__header {
      z-index: 10;
    }

    &__sidebar {
      z-index: 11;
    }
  }

  .header {
    background-color: $white;
    border-color: $gray;

    a {
      color: get-color($palette-hiui, 'g100');

      &:hover,
      &:active,
      &.header__nav-link--active {
        color: get-color($palette-hiui, '50');
      }
    }
  }

  .sidebar {
    padding-top: 0;
  }
}

// 设置颜色
@mixin config-sidebar-style($color, $name) {
  .logo {
    a,
    a:hover {
      color: if($name == 'white', get-color($palette-hiui, 'g100'), $white);
    }
  }

  .sidebar {
    background-color: $color;
    border-color: if($name == 'white', $gray, transparent);
    color: if($name == 'white', get-color($palette-hiui, 'g100'), $white);
    //color: get-color($palette-hiui, 'g100');
    // @if $name == 'black' {color: $white}
    // @else {color: get-color($palette-hiui, 'g100')}
    // color: if($name == 'white', $white, get-color($palette-hiui, 'g100'));
    // background: $color;
    // .sidebar__list {
    //   color: get-color($palette-hiui, 'g100');
    // }
    &__list {
      // @if $name == 'black' {color: $white}
      // @else {color: get-color($palette-hiui, 'g100')}
    }
  }
}

@each $name, $color in $config-sidebar-colors {
  .layout--genuine.layout--#{$name} {
    @include config-sidebar-style($color, $name);
  }
}

//.layout {
//  &__header {
//    .layout--genuine & {
//      transition: margin-left $speed-fast $easing;
//      margin-left: 216px;
//      width: auto;
//      background: #fff;
//      color: #383E47;
//      border-color: #d8d8d8;
//    }
//    .layout--collapsed & {
//      margin-left: 48px;
//    }
//  }
//  &--genuine {
//    .layout__body {
//      padding-top: 0;
//      &--containheader {
//        padding-top: 64px;
//      }
//    }
//
//    .layout__sidebar {
//      padding-top: 0;
//      background: #383E47;
//      color: #fff;
//
//      .sidebar__wrapper {
//        display: flex;
//        flex-direction: column;
//
//        &::before,
//        &::after {
//          display: none;
//        }
//
//        .sidebar__list {
//          color: #fff;
//        }
//      }
//    }
//
//    .logo {
//      width: 216px;
//      height: 216px;
//      display: flex;
//      align-items: center;
//      justify-content: center;
//      flex-direction: column;
//
//      &__title {
//        margin: 0;
//      }
//    }
//  }
//}
