@import '@hi-ui/core-css/lib/i18n/zh-CN.scss';
@import '@hi-ui/core-css/base.scss';

// 设置布局
.layout {
  &__header {
    a {
      // color: #383E47 !important;
    }
    .layout--genuine & {
      margin-left: 216px;
      width: auto;
      background: #fff;
      color: #383E47;
      border-color: #d8d8d8;
    }
    .layout--collapsed & {
      margin-left: 48px;
    }
  }
  &--genuine {
    .layout__body {
      padding-top: 0;
      &--containheader {
        padding-top: 64px;
      }
    }
    
    .layout__sidebar {
      padding-top: 0;
      background: #383E47;
      color: #fff;

      .sidebar__wrapper {
        display: flex;
        flex-direction: column;

        &::before,
        &::after {
          display: none;
        }

        .sidebar__list {
          color: #fff;
        }
      }
    }

    .logo {
      width: 216px;
      height: 216px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__title {
        margin: 0;
      }
    }
  }
}
