// @import '@hi-ui/core-css/lib/i18n/zh-CN.scss';
@import '@hi-ui/core-css/lib/index.scss';

.hi-theme--classic {
  position: relative;
  display: flex;
  height: calc(100vh - 64px);
  box-sizing: border-box;
  margin-top: 64px;
  z-index: 0;
  overflow: hidden;

  .hi-theme__sider {
    box-shadow: 1px 0 4px rgba(0, 21, 41, 0.08);

    .sider__footer {
      justify-content: flex-end;
      align-items: center;
    }

    .sider__menu {
      .menu__leaf-title--active {
        background: use-color-mode('primary', 50);
        color: use-color-mode('primary');
        position: relative;
      }
    }
  }

  .hi-theme__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .hi-theme__content {
    flex: 1;
    overflow: auto;
    background: #f5f7fa;
    padding: 24px 20px 12px;
  }
}

.hi-theme--genuine {
  display: flex;
  height: 100vh;
  box-sizing: border-box;

  .hi-theme__sider {
    &--mini {
      .sider__footer {
        height: 80px !important;
        flex-direction: column-reverse;

        & > .hi-theme-icon {
          line-height: 45px;
        }

        .login__wrapper {
          line-height: 45px;
          width: 14px;
          align-self: center;
        }
      }
    }
  }

  .hi-theme__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .hi-theme__container {
    flex: 1;
    display: flex;
    overflow-x: auto;
    flex-direction: column;

    .hi-theme__content {
      flex: 1;
      overflow: auto;
      background: #f5f7fa;
      padding: 24px 20px 12px;
    }

    .hi-theme--no-header {
      padding-top: 0;
    }
  }

  .hi-theme__header {
    position: static;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

    .hi-theme__toolbar {
      color: #1f2733;
      flex-shrink: 0;
    }

    .login__wrapper {
      flex-shrink: 0;
      width: 100%;
    }
  }

  .sider__logo {
    &.mini {
      .hi-logo__link {
        display: flex;
      }
    }
  }
}
