@import '@hi-ui/core-css/lib/i18n/zh-CN.scss';
@import '@hi-ui/core-css/index.scss';

.hi-theme--classic {
  position: relative;
  display: flex;
  height: calc(100vh - 64px);
  box-sizing: border-box;
  margin-top: 64px;

  .hi-theme__sider {
    box-shadow: 1px 0 4px rgba(0, 21, 41, 0.08);

    .sider__footer {
      justify-content: flex-end;
      align-items: center;
    }

    .sider__menu {
      .menu__leaf-title--active {
        background: use-color('primary-20');
        color: use-color('primary');
        position: relative;

        &::after {
          content: '';
          height: 48px;
          width: 4px;
          background: use-color('primary');
          left: 0;
          position: absolute;
        }
      }
    }
  }

  .hi-theme__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .hi-theme__content {
    flex: 1;
    overflow: auto;
  }
}

.hi-theme--genuine {
  display: flex;
  height: 100vh;
  box-sizing: border-box;

  .hi-theme__sider {
    &--mini {
      .sider__footer {
        height: 80px !important;
        flex-direction: column-reverse;

        & > .hi-theme-icon {
          line-height: 45px;
        }

        .login__wrapper {
          line-height: 45px;
          width: 14px;
          align-self: center;
        }
      }
    }
  }

  .hi-theme__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .hi-theme__container {
    flex: 1;
    display: flex;
    overflow-x: auto;
    flex-direction: column;

    .hi-theme__content {
      flex: 1;
      overflow: auto;
    }

    .hi-theme--no-header {
      padding-top: 0;
    }
  }

  .hi-theme__header {
    position: static;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

    .hi-theme__toolbar {
      color: #333;
    }
  }

  .sider__logo {
    &.mini {
      .hi-logo__link {
        display: flex;
      }
    }
  }
}
