@import '@hi-ui/core-css/index.scss';

.hi-logo {
  box-sizing: border-box;

  &__img {
    vertical-align: middle;
  }

  &__title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    vertical-align: middle;
  }

  .layout--classic & {
    width: 200px;
    height: 64px;
    margin-right: $spacer-5;
    line-height: 64px;

    &__link {
      display: flex;
      align-items: center;
    }

    &__img {
      & + .logo__title {
        margin-left: $spacer-4;
      }
    }
  }

  .layout--genuine & {
    width: 216px;
    padding: 32px 0;
    //line-height: 64px;
    margin: 0 auto;
    text-align: center;

    &__link {
      display: block;
    }

    &__img {
      display: block;
      margin: 0 auto 16px;
    }
  }
}
