@import '@hi-ui/core-css/index.scss';

.hi-logo {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 216px;
  transition: width 0.3s;

  &--mini {
    width: 48px;
    padding: 0 4px !important;
  }

  &--horizontal {
    padding: 0 16px;
    height: 64px;

    .hi-logo__title {
      margin-left: 8px;
    }
  }

  .hi-theme__sider--mini & {
    width: 48px;
    padding: 0;
    justify-content: center;

    &__title {
      display: none;
    }
  }

  &--vertical {
    flex-direction: column;
    justify-content: center;
    height: 164px;

    .hi-logo__title {
      margin-top: 12px;
    }
  }

  &__title {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    white-space: nowrap;
    color: #fff;
  }
}
