@import '@hi-ui/core-css/lib/index.scss';

.hi-theme__header {
  .hi-logo-wrapper {
    display: flex;
    align-items: center;
    min-width: 216px;
  }
}

.hi-theme__sider {
  .hi-logo-wrapper {
    width: 216px;
  }
}

.hi-logo-wrapper {
  transition: width 0.3s;
  overflow: hidden;
}

.hi-logo {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  align-items: center;

  &--mini {
    width: 56px;
    padding: 0 4px !important;
  }

  &--horizontal {
    padding: 0 16px;
    height: 64px;

    .hi-logo__title {
      margin-left: 8px;
    }
  }

  .hi-theme__sider--mini & {
    width: 56px;
    padding: 0;
    justify-content: center;

    &__title {
      display: none;
    }
  }

  &--vertical {
    flex-direction: column;
    justify-content: center;
    height: 164px;

    .hi-logo__title {
      margin-top: 12px;
    }
  }

  &__title {
    font-size: use-text-size('lg');
    font-weight: use-text-weight('semibold');
    white-space: nowrap;
    color: #fff;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(31, 39, 51, 0.1);
  }
}
