@import '@hi-ui/core-css';

.breadcrumb {
  margin-bottom: 16px;

  &__item {
    font-size: $font-size-small;
    color: get-color($palette-hiui, 'g80');

    a {
      color: get-color($palette-hiui, 'g80');

      &:hover,
      &:active {
        color: get-color($palette-hiui, 'g70');
      }
    }
  }
}
