.logo {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  width: 216px;
  color: #000;
  text-align: center;

  a {
    color: inherit;
  }

  img {
    margin-right: 16px;
    vertical-align: middle;
  }

  .logo-title {
    vertical-align: middle;
  }
}
