@import '@hi-ui/core-css';

// Layout
.sidebar {
  box-sizing: border-box;
  width: 216px;
  height: 100%;
  padding-top: 64px;
  font-size: 14px;
  line-height: 1;
  background-color: $white;
  box-shadow: inset -1px 0 0 0 $gray;
  transition: width $speed-fast $easing;

  &:before,
  &:after {
    position: absolute;
    left: 0;
    z-index: 1;
    width: calc(100% - 1px);
    content: "";
    pointer-events: none;
  }

  &:before {
    top: 64px;
    height: 16px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:after {
    bottom: 0;
    height: 32px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }

  // Element: wrapper
  &__wrapper {
    width: 216px;
    height: 100%;
    overflow: hidden;

    // Add gap for first & last item
    > .sidebar__list > li:first-child {
      margin-top: 16px;
    }

    > .sidebar__list > li:last-child {
      margin-bottom: 48px;
    }
  }

  // Element: list
  &__list {
    width: 216px + 20px; // overflow scrollbar
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: width $speed-fast $easing;

    // Submenu
    & & {
      // display: none;
      overflow: hidden;

      // Submenu padding
      .sidebar__item {
        padding-left: 48px;
        padding-right: 16px;
      }
    }
  }

  // Element: item
  &__item {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 216px;
    height: 100%;
    min-height: 48px;
    padding: 16px 48px 16px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: all $speed-fast $easing;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      content: "";
      transition: width .3s linear;
    }

    &--active {
      &::before {
        width: 3px;
      }
    }

    &--noaction {
      cursor: default;
    }
  }

  &__item-icon {
    display: inline-block;
    margin-right: 16px;
  }

  &__item-toggle {
    position: absolute;
    top: 16px;
    left: 168px;
    width: 48px;
  }

  // Element: Collapsed Sub Menu
  &__subnavs {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    box-sizing: border-box;
    width: 0;
    height: 100%;
    padding-top: 64px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    box-shadow: inset -1px 0 0 0 $gray;
    background-color: $white;
    transition: all $speed-fast $easing;
    &:before,
    &:after {
      position: absolute;
      left: 0;
      z-index: 10;
      width: calc(100% - 1px);
      content: "";
      pointer-events: none;
    }
    &:before {
      top: 64px;
      height: 16px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }
    &:after {
      bottom: 0;
      height: 32px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }

    // Add gap for first item
    > .sidebar__list > li:first-child {
      margin-top: 16px;
    }

    //.sidebar__list {
    //  & & {
    //    max-height: 0;
    //    margin-top: 0;
    //    transition: all $speed-fast $easing;
    //
    //    .sidebar__item {
    //      padding-left: 54px;
    //    }
    //  }
    //}

    // Status: Show
    &--active {
      width: 168px;
      max-width: 200px;
      right: -168px;
      opacity: 1;
      visibility: visible;
    }
  }

  // Element: Toggle
  &__toggle {
    position: absolute;
    bottom: 10px;
    right: 14px;
    z-index: 2;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    background: url('../../static/image/expand.png');
    transition: right $speed-fast linear;
  }

  // Status: Collapsed
  &--collapsed {
    width: 48px;

    .sidebar {
      &__list {
        width: 48px + 20px; // overflow scrollbar
      }

      &__item {
        width: 48px;
        padding-right: 0;
        text-overflow: clip;
        white-space: normal;
      }

      &__item-title {
        display: none;
      }

      // Collapsed Sub Menu
      &__subnavs--active {
        .sidebar__list {
          width: 168px + 20px;
        }

        .sidebar__item {
          width: 168px;
          padding: 16px 24px;
        }

        .sidebar__item-title {
          display: inline;
        }
      }
    }
  }
}

// Set colors
@mixin theme-sidebar-style($color: get-color($palette-primary, 'hiui-blue')) {
  .sidebar {
    color: map-get(get-palette($color), 'g100');

    &__item {
      color: map-get(get-palette($color), 'g100');

      &::before {
        background-color: map-get(get-palette($color), '50');
      }

      // Status: active
      &:not(&--noaction):hover,
      &:not(&--noaction):active,
      &--active {
        background-color: rgba(map-get(get-palette($color), '50'), 0.08);
        color: map-get(get-palette($color), '50');
      }
    }

    &__toggle {
      color: map-get(get-palette($color), 'g100');
    }
  }
}

@include theme-sidebar-style();

@each $key, $value in $theme-colors {
  .theme__#{$key} {
    @include theme-sidebar-style($value);
  }
}
