$collapse-time: 0.2s;

// Layout
.sider {
  position: relative;
  box-sizing: border-box;
  width: 216px;
  overflow: hidden;
  background-color: #fff;
  font-size: 14px;
  line-height: 1;
  color: #383e47;
  box-shadow: inset -1px 0 0 0 #e6e7e8;
  transition: width $collapse-time, overflow .2s linear $collapse-time;

  // &:before,
  // &:after {
  //   position: absolute;
  //   left: 0;
  //   z-index: 1;
  //   width: calc(100% - 1px);
  //   height: 32px;
  //   content: "";
  //   pointer-events: none;
  // }

  // &:before {
  //   top: 56px;
  //   background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  // }

  // &:after {
  //   bottom: 0;
  //   background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  // }

  // Add gap for first & last item

  >.sider-list>li:last-child {
    margin-bottom: 48px;
  }

  .sider-list {
    width: 216px + 20px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: width $collapse-time;

    &-icon {
      display: inline-block;
      margin-right: 16px;
    }

    // Menu Item
    >li {
      box-sizing: border-box;
      width: 216px;
      user-select: none;
      color: #383e47;
    }

    // Submenu
    .sider-list {
      display: none;
      overflow: hidden;

      // Submenu padding
      .sider-list-item {
        padding-left: 48px;
        padding-right: 16px;
      }
    }
  }

  .sider-list-item {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 100%;
    min-height: 48px;
    padding: 16px 48px 16px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #383e47;
    cursor: pointer;
    transition: all $collapse-time linear;

    &:not(.noaction):hover,
    &.active {
      background-color: rgba(66, 133, 244, 0.08);
      color: #4285f4;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      content: "";
      background-color: #4687f2;
      transition: width .3s linear;
    }

    &.active {
      &:before {
        width: 3px;
      }
    }

    &.noaction {
      cursor: default;
    }

    .mark-arrow {
      position: absolute;
      top: 16px;
      left: 168px;
      width: 48px;
    }
  }

  // Collapsed
  &.collapse {
    width: 48px;

    .sider-list {
      width: 48px + 20px;

      // Menu Item
      >li {
        width: 48px;
      }
    }

    .sider-list-item {
      padding: 16px 0 16px 16px;
      text-overflow: unset;
      white-space: normal;
    }

    .sider-list-title {
      display: none;
    }


    // Tertiary Menu
    .sider-subnavs {

      //width: 168px;
      .sider-list {
        //width: 188px;
      }

      .sider-list-item {
        //padding: 16px 24px;
      }

      .sider-list-title {
        //display: inline;
      }
    }
  }

  // Collapse Button
  .btn-collapse {
    position: absolute;
    bottom: 10px;
    right: 14px;
    z-index: 2;
    width: 20px;
    height: 20px;
    font-size: 24px;
    color: #383e47;
    line-height: 48px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: right $collapse-time;
    background: url('../../static/image/expand.png');
  }

  // Tertiary Menu
  .sider-subnavs {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 168px;
    height: 100%;
    padding-top: 56px;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    box-shadow: inset -1px 0 0 0 #e6e7e8;
    background-color: #fff;
    transition: width, opacity .2s;

    &:before,
    &:after {
      position: absolute;
      left: 0;
      z-index: 1;
      width: calc(100% - 1px);
      height: 32px;
      content: "";
      pointer-events: none;
    }

    &:before {
      top: 56px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:after {
      bottom: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }

    // Add gap for first item
    >.sider-list>li:first-child {
      margin-top: 16px;
    }

    .sider-list {
      width: 188px;

      >li {
        //box-sizing: border-box;
        width: 168px;
        //height: 48px;
        //user-select: none;
        //color: #383e47;
      }

      .sider-list {
        max-height: 0;
        margin-top: 0;
        transition: all .2s ease-out;

        .sider-list-item {
          padding-left: 54px;
        }
      }
    }

    .sider-list-item {
      //position: relative;
      //display: block;
      //box-sizing: border-box;
      //height: 100%;
      padding: 16px 24px;
      //overflow: hidden;
      //text-overflow: ellipsis;
      //white-space: nowrap;
      //cursor: pointer;
      //color: #383e47;
      //transition: padding $collapse-time ease;
      //&:not(.noaction):hover,
      //&.active {
      //background-color: rgba(66, 133, 244, 0.08);
      //color: #4285f4;
      //}
      //&.active {
      //  &:before {
      //    position: absolute;
      //    top: 0;
      //    left: 0;
      //    width: 3px;
      //    height: 100%;
      //    content: "";
      //    background-color: #4687f2;
      //  }
      //}
      //&.noaction {
      //  cursor: default;
      //}
    }

    .sider-list-title {
      display: inline;
    }

    &.show {
      max-width: 200px;
      right: -168px;
      opacity: 1;
      transition: width .2s, opacity .2s;
    }
  }
}

// Themes
.sider {
  &.light {}
}

.has-sub {
  .sider.collapse {
    overflow: visible;
  }
}
