@import '@hi-ui/core-css';

// 设置颜色
@mixin theme-sidebar-style($color: get-color($palette-primary, 'hiui-blue')) {
  .sidebar {
    color: get-color($palette-hiui, 'g100');
  }
}

@include theme-sidebar-style();
@each $key, $value in $theme-colors {
  .theme__#{$key} {
    @include theme-sidebar-style($value);
  }
}

// Layout
.sidebar {
  box-sizing: border-box;
  width: 216px;
  height: 100%;
  padding-top: 64px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1;
  color: $black;
  background-color: $white;
  box-shadow: inset -1px 0 0 0 $gray;
  transition: width $speed-fast $easing;

   &:before,
   &:after {
     position: absolute;
     left: 0;
     z-index: 1;
     width: calc(100% - 1px);
     height: 32px;
     content: "";
     pointer-events: none;
   }

   &:before {
     top: 56px;
     background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
   }

   &:after {
     bottom: 0;
     background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
   }

  &__list {
    width: 216px + 20px; // overflow scrollbar
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: width $speed-fast $easing;

    // Menu Item
    > li {
      box-sizing: border-box;
      width: 216px;
      user-select: none;
      transition: width $speed-fast $easing;
    }

    // Submenu
    .sidebar__list {
      display: none;
      overflow: hidden;

      // Submenu padding
      .sidebar__item {
        padding-left: 48px;
        padding-right: 16px;
      }
    }
  }

  &__item {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 100%;
    min-height: 48px;
    padding: 16px 48px 16px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #383e47;
    cursor: pointer;
    transition: all $speed-fast $easing;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      content: "";
      background-color: #4687f2;
      transition: width .3s linear;
    }

    &--active {
      &::before {
        width: 3px;
      }
    }

    &--noaction {
      cursor: default;
    }

    &:not(&--noaction):hover,
    &:not(&--noaction):active,
    &--active {
      background-color: rgba(66, 133, 244, 0.08);
      color: #4285f4;
    }
  }

  &__item-icon {
    display: inline-block;
    margin-right: 16px;
  }

  &__item-toggle {
    position: absolute;
    top: 16px;
    left: 168px;
    width: 48px;
  }

  // Add gap for first & last item
  > .sidebar__list > li:first-child {
    margin-top: 8px;
  }

  > .sidebar__list > li:last-child {
    margin-bottom: 48px;
  }

  // Collapsed
  &--collapsed {
    width: 48px;

    .layout--has-sub & {
      overflow: visible;
    }

    .sidebar__list {
      width: 48px + 20px; // overflow scrollbar

      // Menu Item
      > li {
        width: 48px;
      }
    }

    .sidebar__item {
      padding-right: 0;
      text-overflow: clip;
      white-space: normal;
    }

    .sidebar__item-title {
      display: none;
    }


    // Tertiary Menu
    .sider-subnavs {
      width: 168px;
      .sidebar__list {
        width: 188px;
        > li {
          width: 168px;
        }
      }

      .sidebar__item {
        padding: 16px 24px;
      }

      .sidebar__item-title {
        display: inline;
      }
    }
  }

  // Collapse Button
  .btn-collapse {
    position: absolute;
    bottom: 10px;
    right: 14px;
    z-index: 2;
    width: 20px;
    height: 20px;
    font-size: 24px;
    color: #383e47;
    line-height: 48px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: right $speed-fast linear;
    background: url('../../static/image/expand.png');
  }

  // Tertiary Menu
  .sider-subnavs {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    box-sizing: border-box;
    width: 0;
    height: 100%;
    padding-top: 64px;
    opacity: 0;
    overflow: hidden;
    box-shadow: inset -1px 0 0 0 $gray;
    background-color: #fff;
    transition: width, opacity .2s;

    &:before,
    &:after {
      position: absolute;
      left: 0;
      z-index: 1;
      width: calc(100% - 1px);
      height: 32px;
      content: "";
      pointer-events: none;
    }

    &:before {
      top: 56px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:after {
      bottom: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }

    // Add gap for first item
    >.sider-list>li:first-child {
      margin-top: 16px;
    }

    .sider-list {
      width: 188px;

      >li {
        //box-sizing: border-box;
        width: 168px;
        //height: 48px;
        //user-select: none;
        //color: #383e47;
      }

      .sider-list {
        max-height: 0;
        margin-top: 0;
        transition: all .2s ease-out;

        .sider-list-item {
          padding-left: 54px;
        }
      }
    }

    .sider-list-item {
      //position: relative;
      //display: block;
      //box-sizing: border-box;
      //height: 100%;
      padding: 16px 24px;
      //overflow: hidden;
      //text-overflow: ellipsis;
      //white-space: nowrap;
      //cursor: pointer;
      //color: #383e47;
      //transition: padding $speed-fast ease;
      //&:not(.noaction):hover,
      //&.active {
      //background-color: rgba(66, 133, 244, 0.08);
      //color: #4285f4;
      //}
      //&.active {
      //  &:before {
      //    position: absolute;
      //    top: 0;
      //    left: 0;
      //    width: 3px;
      //    height: 100%;
      //    content: "";
      //    background-color: #4687f2;
      //  }
      //}
      //&.noaction {
      //  cursor: default;
      //}
    }

    .sider-list-title {
      display: inline;
    }

    &.show {
      width: 168px;
      max-width: 200px;
      right: -168px;
      opacity: 1;
      transition: width .2s, opacity .2s;
    }
  }
}
