@import '@hi-ui/core-css/lib/i18n/zh-CN.scss';
@import '@hi-ui/core-css/base.scss';

.hi-theme--classic {
  display: flex;
  height: calc(100vh - 64px);
  box-sizing: border-box;
  margin-top: 64px;

  .hi-theme__content {
    flex: 1;
    overflow: scroll;
  }
}

.hi-theme--geniue {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  overflow: scroll;

  .hi-theme__container {
    flex: 1;
    display: flex;

    .hi-theme__content {
      flex: 1;
      padding-top: 64px;
    }
  }

  .sider__logo {
    &.mini {
      .logo__link {
        display: flex;
      }
    }
  }
}
