.hi-theme__sider {
  display: flex;
  flex-direction: column;

  &.dark {
    .hi-menu--vertical {
      background-color: #393d46;
    }
    .hi-menu__title {
      color: #fff;
    }
    .sider__footer {
      background-color: #393d46;
      color: #fff;
    }
  }

  .sider__logo {
    height: 136px;
  }
  .sider__footer {
    height: 40px;
    text-align: right;

    &__toggle {
      cursor: pointer;
      font-size: 16px;
      padding: 0 10px;
      display: inline-block;
    }
  }
  .hi-menu--vertical {
    box-shadow: none;
    border: none;
    flex: 1;
    overflow: auto;
  }

  .hi-menu-item--active:not(.hi-submenu) {
    background: rgba(66, 133, 244, 0.08);
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      content: '';
      transition: width 0.3s linear;
      width: 4px;
      background: #4285f4;
    }
  }

  border-right: 1px solid #d8d8d8;
}
