@import '@hi-ui/core-css';

.cascad {
  width: 100%;
  color: $black;

  .cascad__title-content {
    width: 100%;
    height: 56px;
    margin-bottom: 16px;
    border-bottom: 1px solid $gray;
    line-height: 56px;
  }

  .cascad__title {
    float: left;
    margin: 0;
    font-weight: $font-weight-normal;
  }

  .cascad__status {
    float: right;
  }

  .cascad__content {
    font-size: $font-size-normal;
  }
}
