@import '@hi-ui/core-css/index.scss';

.header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-width: $min-page-width;
  height: 64px;
  padding: 0 16px;
  border-bottom: 1px solid transparent;
  font-size: $font-size-normal;
  line-height: $line-height-default;
}
