.header {
  box-sizing: border-box;
  // padding: 0 16px;
  flex: 1;
  font-size: 14px;
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
  // box-shadow: inset 0 -1px 0 0 #e6e7e8;
}
