@import '@hi-ui/core-css/index.scss';

.login__menu--top {
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  padding: 12px;
}

.hi-theme__header {
  display: flex;
  background: #383e47;
  height: 64px;
  line-height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: $font-size-normal;
  box-sizing: border-box;
  z-index: 11;
  box-shadow: 0 2px 6px rgba(0, 21, 41, 0.35);

  .sider__toggle {
    padding: 0 12px;
    cursor: pointer;

    &:hover {
      background: #ccc;
    }
  }

  .login__wrapper {
    color: #fff;
    margin-right: 24px;
    cursor: pointer;

    & > .hi-theme-icon {
      margin-right: 6px;
    }
  }

  .hi-theme__logo {
    flex: 0 0 216px;

    .hi-logo {
      padding-left: 16px;
    }

    .hi-logo__img {
      margin-right: 8px;
    }
  }

  .hi-theme__login {
    flex: 0 0 64px;
  }

  .hi-theme__toolbar {
    display: flex;
    flex: 1;
    color: #fff;
    align-items: center;
    justify-content: flex-end;
  }

  .hi-theme__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 24px;

    .main-menu-item {
      display: flex;

      a {
        color: #fff;
        padding: 0 16px;
        transition: color 0.3s;

        &:hover {
          color: #d8d8d8;
        }
      }
    }

    .active-main-menu {
      a {
        color: #4284f5;
      }

      background: #2e343d;
    }
  }
}
