@import '@hi-ui/core-css/lib/index.scss';

.login__menu--top {
  background: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  padding: 12px;
}

.hi-theme__header {
  display: flex;
  height: 64px;
  line-height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: use-text-size('md');
  box-sizing: border-box;
  z-index: 11;

  svg.hi-theme-icon {
    height: 16px;
    width: 16px;
  }

  &--light {
    background: #fff !important;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    color: #1f2733;

    .hi-logo__title {
      color: #1f2733;
    }

    .hi-theme__toolbar {
      color: #1f2733;
    }

    .login__wrapper {
      color: #1f2733;
    }

    .main-menu-item {
      a {
        color: #1f2733;
      }
    }

    .active-main-menu {
      background: #fff;
      position: relative;
    }

    .sider__toggle {
      padding: 0 16px;
      margin-left: 8px;
      cursor: pointer;
    }
  }

  &--dark {
    background: #1f2733 !important;
    box-shadow: 0 2px 6px rgba(#1f2733, 0.35);
    color: #dfe2e8;

    .hi-theme__toolbar {
      color: #dfe2e8;
    }

    .hi-logo__title {
      color: #dfe2e8;
    }

    .login__wrapper {
      color: #dfe2e8;
    }

    .main-menu-item {
      a {
        color: #dfe2e8;
      }
    }

    .active-main-menu {
      background: #2e343d;
    }

    .sider__toggle {
      padding: 0 16px;
      margin-left: 8px;
      cursor: pointer;
    }

    .hi-theme__menu {
      color: #dfe2e8;
    }
  }

  .sider__toggle {
    padding: 0 12px;
    cursor: pointer;
    font-size: 20px;
    color: #5f6a7a;
  }

  .login__wrapper {
    flex-shrink: 0;
    margin-left: 20px;
    margin-right: 24px;
    cursor: pointer;
    display: inline-flex;
    gap: 6px;
    align-items: center;

    & > .hi-theme-icon {
      margin-right: 6px;
    }
  }

  .hi-theme__logo {
    flex: 0 0 216px;

    .hi-logo {
      padding-left: 16px;
    }

    .hi-logo__img {
      margin-right: 8px;
    }
  }

  .hi-theme__login {
    flex: 0 0 64px;
  }

  .hi-theme__toolbar {
    font-size: 16px;
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: flex-end;
    margin-left: 24px;
  }

  .hi-theme__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 24px;
    flex: 1;
    overflow-x: hidden;
    background-color: transparent;
    min-width: 184px;

    .main-menu-item {
      display: flex;

      a {
        padding: 0 16px;
        transition: color 0.3s;

        &:hover {
          color: use-color-mode('primary');
        }
      }
    }

    .active-main-menu {
      a {
        color: use-color-mode('primary');
      }
    }

    .hi-v4-menu-item {
      height: 64px;
    }
  }
}
