@import '@hi-ui/core-css/index.scss';

.footer {
  box-sizing: border-box;
  padding: $spacer-4 $spacer-4;
  border-top: 1px solid $gray;
  font-size: $font-size-small;
  background-color: $gray-lighter;
}
