ul {
  li {
    list-style: none;
    white-space: nowrap;
  }
}

.menu-expander {
  overflow: hidden;
  transition: height 0.3s;
}

.mini-sider__menu {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  min-width: 160px;
  background: #fff;
  color: #333;

  &-item {
    position: relative;

    .menu-item__title {
      height: 40px;
      align-items: center;
      padding: 0 12px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      transition: all 0.3s;

      &--active {
        color: #4284f5;
      }

      &:hover {
        color: #4284f5;
      }
    }
  }
}

.hi-theme--classic {
  .hi-theme__sider {
    &--popup {
      position: absolute;
      height: 100%;
    }

    z-index: 10;
    background: #fff;
  }
}

.hi-theme__sider {
  display: flex;
  flex-direction: column;
  width: 216px;
  transition: width 0.3s;
  overflow: hidden;
  z-index: 12;

  &--light {
    background: #fff !important;
    box-shadow: 1px 0 4px rgba(0, 21, 41, 0.08);
    color: #333;

    .sider__footer {
      background: #fff;
    }

    .sider__toggle,
    .sider__login {
      &:hover {
        background: #4285f414;
      }
    }
    .hi-logo__title {
      color: #333;
    }
    .sider__menu {
      .menu__leaf-title--active {
        background: rgba(66, 133, 244, 0.08);
        color: #4284f5;
      }
    }
  }

  &--dark {
    background: #383e47 !important;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    color: #fff;

    .hi-logo__title {
      color: #fff;
    }

    .sider__footer {
      background: #2e343d;
    }

    .sider__toggle,
    .sider__login {
      &:hover {
        background: #252b32;
      }
    }

    .sider__menu {
      .menu__leaf-title--active {
        background: #2e343d;
        color: #4284f5;
      }
    }
  }

  &--hide {
    display: none;
  }

  &--popup {
    position: fixed;
    height: 100%;
  }

  &--mini {
    width: 48px;
    overflow: visible;

    .sider__footer {
      & > .hi-theme-icon {
        margin-bottom: 16px;
      }

      .sider__login {
        margin-left: 0;
        margin-bottom: 48px;
      }
    }
  }

  .sider__menu {
    flex: 1;
    padding: 16px 0;
    box-sizing: border-box;
    overflow: hidden;

    .hi-tooltip {
      width: 100%;
    }

    .menu__title {
      height: 48px;
      padding-right: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      cursor: pointer;
      transition: all 0.3s;
      overflow: hidden;

      .hi-theme-icon {
        margin-right: 4px;
      }

      &:hover {
        color: #4284f5;
      }

      &--active {
        color: #4284f5;
      }
    }

    .menu__leaf-title--active {
      color: #4284f5;
    }
  }

  .sider__logo {
    display: flex;
    flex-shrink: 0;

    &.mini {
      width: 48px;

      .hi-logo__link {
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 0;
      }

      .hi-logo__title {
        display: none;
      }

      .hi-logo__img {
        margin-right: 0;
      }
    }
  }

  .sider__footer {
    height: 48px;
    line-height: 48px;
    position: relative;
    transition: height 0.3s;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;

    & > .hi-theme-icon {
      cursor: pointer;
    }
  }

  .sider__toggle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
    flex-shrink: 0;
  }

  .sider__login {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    overflow: hidden;
    white-space: nowrap;
    transition: background 0.3s;
    margin-left: 48px;
  }
}
