.hi-theme__sider {
  display: flex;
  flex-direction: column;

  &.dark {
    .hi-menu--vertical {
      background-color: #393d46;
    }

    .hi-menu__title {
      color: #fff;
    }

    .sider__footer,
    .sider__logo {
      background-color: #393d46;
      color: #fff;
    }
  }

  .sider__logo {
    height: 64px;
    display: flex;

    .hi-logo {
      flex: 1;
      display: flex;

      .hi-logo__link {
        flex: 1;
        align-items: center;
        display: flex;
        padding: 0 16px;
      }

      .hi-logo__img {
        margin-right: 10px;
      }
    }

    &.mini {
      width: 48px;

      .hi-logo__link {
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 0;
      }

      .hi-logo__title {
        display: none;
      }

      .hi-logo__img {
        margin-right: 0;
      }
    }
  }

  .sider__footer {
    height: 48px;
    text-align: right;
    position: relative;

    &__toggle {
      cursor: pointer;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      bottom: 10px;
      background: url('../../../static/image/menu.png') no-repeat;
      background-size: cover;
    }

    &__toggle--light {
      background: url('../../../static/image/menu-light.png') no-repeat;
      background-size: cover;
    }
  }

  .hi-menu--vertical {
    box-shadow: none;
    border: none;
    flex: 1;
    overflow-y: auto;
  }

  .hi-menu-item--active:not(.hi-submenu) {
    background: rgba(66, 133, 244, 0.08);
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      content: '';
      transition: width 0.3s linear;
      width: 4px;
      background: #4285f4;
    }
  }

  border-right: 1px solid #d8d8d8;
}
