@import '@hi-ui/core-css/index.scss';

// Layout
.sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 216px;
  height: 100%;
  font-size: 14px;
  line-height: 1;
  background-color: $white;
  // box-shadow: inset -1px 0 0 0 $gray;
  border-right: 1px solid $gray;
  transition: width $speed-fast $easing;
  position: relative;
  padding-top: 64px;

  .hi-menu--vertical {
    width: 100%;
    box-shadow: none;
    height: 100%;
    border: 0;
  }

  &__menu--white {
    .hi-menu--vertical {
      background-color: #393d46;
    }

    .hi-menu__title {
      color: #fff;
    }
  }

  &__menu--black {
    .hi-menu--vertical {
      background-color: #fff;
    }

    .hi-menu__title {
      color: #383e47;
    }
  }
  // Element: Toggle
  &__toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    box-sizing: border-box;
    width: 48px;
    height: 64px;
    font-size: 24px;
    line-height: 64px;
    text-align: center;
    cursor: pointer;
    background: url('../../../static/image/expand.png') no-repeat 50% 50%;
  }

  &__extend {
    height: 64px;
    display: flex;
    align-items: center;
    width: 168px;
    flex: 0 0 64px;
  }

  // Status: Collapsed
  &--collapsed {
    width: 48px;

    .sidebar {
      &__list {
        width: 48px + 20px; // overflow scrollbar
      }

      &__item-title {
        display: none;
      }
    }
  }
}
