.login {
  position: relative;
  display: flex;
  float: right;
  height: 64px;
  align-items: center;
  padding-right: 16px;
  font-size: 14px;
  line-height: 64px;
  cursor: pointer;
  color: #000;

  &-img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 12px;
    border-radius: 50%;
    // background-color: #4285F4;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    line-height: 24px;
    text-align: center;
  }

  &-name {
    display: inline-block;
    max-width: 120px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-info {
    display: none;
    position: absolute;
    right: 10px;
    top: 56px;
    padding: 10px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;
    line-height: 20px;
    background-color: #fff;
    color: #333;
    cursor: default;

    &::before {
      content: '';
      position: absolute;
      top: -6px;
      right: 25px;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-right: 1px solid rgba(27, 31, 35, 0.15);
      border-top: 1px solid rgba(27, 31, 35, 0.15);
      transform: rotate(-45deg)
    }
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 30px;
    right: 0;
    border-top: 5px solid #999;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}

.login.active {
  .login-info {
    display: block;
  }

  &::after {
    border-top: 0;
    border-bottom: 5px solid #999;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}

.login.no-children {
  &::after {
    display: none;
  }
}
