@import '@hi-ui/core-css';

.login {
  position: relative;
  display: flex;
  height: 64px;
  align-items: center;
  padding: 0 $spacer-4;
  font-size: $font-size-normal;
  line-height: $line-height-default;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 30px;
    right: 0;
    display: block;
    border: 5px solid transparent;
    border-bottom: 0;
    content: '';
    .login--active & {
      border-top: 0;
    }
    .login--no-children & {
      display: none;
    }
  }

  &__img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 $spacer-2;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__name {
    display: inline-block;
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__info {
    display: none;
    position: absolute;
    right: 10px;
    top: 56px;
    padding: 10px;
    border: 1px solid $gray;
    border-radius: 4px;
    line-height: 20px;
    background-color: $white;
    cursor: default;

    .login--active & {
      display: block;
    }

    &::before {
      position: absolute;
      top: -6px;
      right: 24px;
      box-sizing: border-box;
      width: 10px;
      height: 10px;
      border-right: 1px solid $gray;
      border-top: 1px solid $gray;
      content: '';
      background-color: #fff;
      transform: rotate(-45deg)
    }
  }
}
