@import '@hi-ui/core-css/lib/i18n/zh-CN.scss';
@import '@hi-ui/core-css/base.scss';

$config-header-colors: (
  'blue': get-color($palette-hiui, '50'),
  'black': get-color($palette-hiui, 'g100'),
  'white': $white
) !default;

// 设置布局
.layout {
  min-width: $min-page-width;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
  }

  &__body {
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 64px;
    transition: padding-left $speed-fast $easing;
    background-color: $white;
  }

  &__content {
    box-sizing: border-box;
    height: 100%;
  }

  &__main {
    box-sizing: border-box;
    flex: 1;
    background-color: $white;

    .layout--collapsed & {
      margin-left: 48px;
    }

    &--footer {
      display: flex;
      flex-direction: column;
      padding-bottom: 0 !important;
    }

    &--lr {
      margin-left: 216px;
    }
  }

  &__sidebar.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
  }

  // Define card layout styles
  &--card {
    .layout {
      &__main {
        background-color: $gray-light;
        width: calc(100% - 216px);
      }

      &__content {
        background-color: #f6f6f6;
      }
    }
  }
}
