.cascad {
  width: 100%;
  color: #333;
  .cascad__title-content {
    width: 100%;
    height: 56px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
    line-height: 56px;
  }
  .cascad__title {
    float: left;
    margin: 0;
    font-weight: 400;
  }
  .cascad__status {
    float: right;
  }
  .cascad__content {
    font-size: 13px;
  }
}